.social {
    background: $color-primary;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $white;
    text-align: center;

    &__icons {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        img {
            max-width: 3rem;
        }
    }
}