@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

:root {
    --color-primary: #0F85D1;
    --color-secondary: #6BC631;
    --black: #232323;
    --white: #fff;
    --grey: rgb(163, 163, 163);
    --grey-light: rgb(209, 209, 209);
    --grey-light-extra: rgb(241, 241, 241);
    --gradient: ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Baloo Tamma 2';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.grid {
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(12,1fr);
}

.sep-top {
    margin-top: 7rem;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.nav__logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__logo img {
    width: 6rem;
}

.nav__menu ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.nav__menu ul li a {
    color: var(--grey);
}

.btn {
    background: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
    color: var(--white);
    padding: 1.2rem 2.7rem;
    border-radius: 10rem;
}

.nav__menu ul li .btn {
    color: var(--white);
}



.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,.9)) ,url(img/pexels-md-atik-hasan-4434000.jpg);
    background-size: cover;
    background-position: left;
    height: 80vh;
}

.hero__text {
    margin-top: 15rem;
    grid-column: 8/12;
    color:var(--white);
}

.hero__text h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.hero__text p {
    font-size: 1.8rem;
    margin-top: 3rem;
    color: var(--grey-light-extra);
    line-height: 1.6;
}

.about .container {
    display: flex;
    gap: 5rem;
}

.about__img img{
    max-width: 40rem;
}

.about ul {
    margin-left: 5rem;
    list-style: disc;
}

.blue {
    color: var(--color-primary);
}

.quote {
    background: var(--color-primary);
    color: var(--white);
}

.quote .container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote small {
    margin-left: 30rem;
}

.actions__item {
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    grid-column: span 4;
    padding: 2rem;
}

.actions__item img {
    
}